@model PlataformaFilmes.Model.Model.Filme
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>Editar Filme</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Filme" asp-action="AtualizarFilme" method="post">
                <div class="col-md-8">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="DiretorId" class="control-label">Diretor</label>
                    <select asp-for="DiretorId" class="form-control" asp-items="@(new SelectList(Model.Diretores,"Id","Nome"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="DiretorId" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="Categorias" class="control-label"></label>
                    
                    <span asp-validation-for="Categorias" class="text-danger"></span>
                </div>

                <div>
                    <hr />
                    @Html.DropDownList("CategoriaId", (MultiSelectList)ViewBag.CategoriaId, new { multiple = "multiple" })
                    <hr />

                    <input type="hidden" asp-for="Id" />
                    <a asp-action="obter" class="btn btn-primary">Voltar</a>
                    <input type="submit" value="Atualizar!" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>