@model PlataformaFilmes.Model.Model.Diretor
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h2>Deletar diretor</h2>
    <h3>Deseja mesmo deletar?</h3>

    <form asp-controller="Diretor" asp-action="DeletarDiretor" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                </tr>
            </thead>
            <tr>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td>@Html.DisplayFor(model => model.Nome)</td>
            </tr>
        </table>

        <a asp-controller="Diretor" asp-action="obter" class="btn btn-primary"> Voltar</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger" value="Deletar"/>
    </form>

</body>
</html>
